---
- name: install grub on target device
  command: "arch-chroot {{ mount_point }} grub-install --target=i386-pc {{ target_device_path }}"

- name: get UUID of encrypted volume
  command: lsblk -n -o UUID /dev/sda2
  register: output

- name: configure grub
  vars:
    cryptvol_uuid: {{ output.stdout }}
  template:
    src: grub.j2
    dest: "{{ mount_point }}/etc/default/grub"
    force: yes
    mode: 0644
    owner: root
    group: root

- name: generate grub config
  command: "arch-chroot {{ mount_point }} grub-mkconfig -o /boot/grub/grub.cfg"

