---
- name: encryption - create and open luks container
  luks_device:
    device: "{{ target_device_id }}-part2"
    state: opened
    passphrase: "{{ luks_passphrase }}"
    name: "{{ luks_name }}"
    type: luks1
