---
- name: mount lv for root
  mount:
    path: "{{ mount_point }}"
    src: "/dev/mapper/{{ volume_group }}-{{ lv_root }}"
    fstype: ext4
    state: mounted

- name: mount lv for home
  mount:
    path: "{{ mount_point }}/home"
    src: "/dev/mapper/{{ volume_group }}-{{ lv_home }}"
    fstype: ext4
    state: mounted

- name: mount boot partition
  mount:
    path: "{{ mount_point }}/boot"
    src: /dev/sda1
    fstype: ext4
    state: mounted
